body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 120px;
}

.header-links {
    margin-right: 120px;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}
}