body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 8px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    margin-left: 400px;
}

.header-links {
    margin-right: 400px;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    height: 500px;
}

.text {
    margin-left: 400px;
    height: 240px;
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.main {
    font-size: 48px;
    font-weight: 600;
    color: #F9FAF8;
    margin-bottom: -10px;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 8px 30px;
    border-radius: 8px;
}

img {
    height: 240px;
    margin-right: 400px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;
    height: 500px; 
}

.info-header {
    font-size: 36px;
    font-weight: 600;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}

.info-container {
    display: flex;
    gap: 48px;
    justify-content: center;
    margin-bottom: 180px;
}

.info-container img {
    box-sizing: border-box;
    width: 180px;
    height: 180px;
    border: 3px solid #3882F6;
    border-radius: 8px;   
}

.pic-1,
.pic-2,
.pic-3,
.pic-4 {
    width: 180px;
    text-align: justify;
    text-align-last: center;
}

.quote-container {
    height: 600px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    width: 864px;
    text-align: justify;
}

.author {
    width: 864px;
    text-align: right;
    color: #1F2937;
    font-size: 24px;
    font-weight: bold;
}